input{
      width: 20rem;
}
textarea{
    width: 20rem;
}
label{
    font-weight: 700;
    display: block;
   
}
button{
    margin-top: 20px;
}

#user-input{
    margin: 1rem;
    padding: 1rem;
    border: 1px solid #ff0062;
    background: #f7f7f7;
}